
#contact .container {
    padding-top: 1rem;
}

.form-group textarea {
    height: 128px;
}

.cont-us {
    margin-top: .5rem;
    margin-bottom: 1.5rem;
}

#map {
    width: 100%;
    height: 25rem;
}

#mapIframe {
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
}


.contact-title {
    margin-top: 6rem;
    font-size: 50px;
}

.contact-us-bg {
    background-color: #F7F5EB;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(53, 150, 0, 0.4);
}

#contact-container [placeholder] {
    color: var(--green);
    font-weight: 600;
    box-shadow: 0 1px 1px rgba(53, 150, 0, 0.4);
}
.contact-btn {
    text-align: center;
}

.submit-btn {
    font-size: 16px;
    font-weight: 700;
    padding: 15px 40px;
    background-color: var(--green);
    color: var(--white);
}

.submit-btn:hover {
    background-color: var(--white);
    color: var(--green);
    transition: all 0.1s ease-in;
    border: 1px solid var(--green);
}

.button-text {
    z-index: 1;
}

.red2 {
    color: var(--red);
}

.phone-contact,
.email {
    text-decoration: none;
    color: var(--red);
}

.phone-contact:hover,
.email:hover {
    color: var(--green);
}

@media (min-width: 992px) {
    #contact-div .heading::before{
        width: 35%;
    }
    
    #contact-div .heading::after{
        width: 35%;
    }
}
