{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_title %}
    | Bag
{% endblock %}

    {% block corecss %}
    {{ block.super }}
        <link rel="stylesheet" href="{% static 'css/bag.css' %}">
    {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-1 mt-0">
        <div class="row justify-content-center title-row">
            <div class="col-5 text-center">
                <h2 class="bag-title mb-3 mt-0 text-center ms-5"> Shopping Bag</h2>
            </div>
        </div>

        

        <div class="row">
            <div class="col">
                {% if bag_items %}
                    <div class="d-block d-md-none">
                        {% for item in bag_items %}
                            <p class="text-muted mb-5">A summary of your bag contents is below</p>
                            <div class="row">
                                <div class="col-12 col-sm-6 mb-2">
                                    {% include "bag/product-image.html" %}
                                </div>
                                <div class="col-12 col-sm-6 mb-2">
                                    {% include "bag/product-info.html" %}
                                </div>
                                <div class="col-12 col-sm-6 order-sm-last">
                                    <p class="my-0">Price Each: £{{ item.product.price }}</p>
                                    <p><strong>Subtotal: </strong>£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                </div>
                                <div class="col-12 col-sm-6">
                                    {% include "bag/quantity-form.html" %}
                                </div>
                            </div>
                            <div class="row"><div class="col"><hr></div></div>
                        {% endfor %}
                    </div>
                    <table class="table table-sm bag-table table-borderless table-responsive rounded d-none d-md-block">
                        <thead class="text-black">
                            <tr>
                                <th scope="col">Product Image</th>
                                <th scope="col">Product Info</th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>

                        {% for item in bag_items %}
                            <tr>
                                <td class="p-3 w-25 bag-img-container">
                                    <a href="{% url 'product_detail' item.product.id %}">
                                        {% if item.product.image %}
                                            <img class="img-fluid rounded image-size" src="{{ item.product.image.url }}">
                                        {% else %}
                                            <img class="img-fluid rounded image-size" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                        {% endif %}
                                    </a>
                                </td>
                                <td class="py-3 cart-product-info">
                                    <h6 class="my-0 bag-prod-name"><strong>{{ item.product.name }}</strong></h6>
                                    <p class="pt-2 d-none d-lg-block">{{ item.product.description|truncatechars:50 }}</p>
                                </td>
                                <td class="py-3">
                                    <h6 class="my-0 cart-price">£{{ item.product.price }}</h6>
                                </td>
                                <td class="py-3 w-25">
                                    <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <button class="decrement-qty btn btn-sm btn-black rounded-0" 
                                                        data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                        <span>
                                                            <i class="fas fa-minus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                <input class="form-control form-control-sm qty_input" type="number"
                                                    name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                    data-item_id="{{ item.item_id }}"
                                                    id="id_qty_{{ item.item_id }}">
                                                <div class="input-group-append">
                                                    <button class="increment-qty btn btn-sm btn-black rounded-0"
                                                        data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                        <span>
                                                            <i class="fas fa-plus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                {% if item.product.has_sizes %}
                                                    <input type="hidden" name="product_size" value="{{ item.size }}">
                                                {% endif %}
                                            </div>
                                        </div>
                                    </form>
                                    <a class="update-link text-info text-start"><small>Update</small></a>
                                    <a class="remove-item text-danger text-end" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}"><small>Remove</small></a> 
                                </td>
                                <td class="py-3">
                                    <h6 class="my-0 cart-product-subtotal">£{{ item.product.price | calc_subtotal:item.quantity }}</h6>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    <div class="row justify-content-end">
                        <div class="col-sm-12 col-md-10 col-lg-6">
                            <table class="table table-sm total-table bag-container-bg" >
                                <div class="shopping-cart-container">
                                    <div class="shoping-cart-total mt-5">
                                    <h4 class="bold">Bag Totals</h4>
                                        <tbody>
                                            <tr>
                                                <th>Subtotal</th>
                                                <td >
                                                    <h6>
                                                    £{{ total|floatformat:2 }}
                                                    </h6>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Delivery fee:</th>
                                                <td>
                                                    <h6>
                                                    <h6> £{{ delivery|floatformat:2 }}</h6>
                                                    {% if free_delivery_delta > 0 %}
                                                        <h6 class="mb-1 text-warning">
                                                            <i class="fas fa-exclamation-circle"></i> You could get free delivery by spending just <strong>£{{ free_delivery_delta }}</strong> more!
                                                        </h6>
                                                    {% else %}
                                                        <h6 class="text-success"> No delivery fees for you ! <i class="fa-regular fa-thumbs-up"></i></h6>
                                                    {% endif %}
                                                    </h6>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><strong>Order Total:</strong></th>
                                                <td>
                                                    <h6 class="text-danger bold"> £{{ grand_total|floatformat:2 }}</h6>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </div>
                                </div>
                            </table>
                        </div>
                    </div>
                    <div class="row d-md-none">
                        <div class="col">
                            {% include "bag/checkout-buttons.html" %}
                        </div>
                    </div>
                    <div class="row justify-content-md-end">
                        <div class="col-12 col-md-10 col-lg-6  d-none d-md-block ">
                            <div class="row justify-content-md-around">
                                <div class="col-sm-12 col-md-6 col-lg-5 bag-btn-back check-margin-sm">
                                    <div class="div-back-btn text-center text-lg-start pt-1">
                                    <a href="{% url 'products' %}" title="Keep Shopping" aria-label="Go back" class="btn button-green text-uppercase back-btn ms-3">
                                        <i class="fa-solid fa-angles-left"></i>
                                        <span> go back</span>
                                    </a>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-5">
                                    <div class="btn-wrapper text-center text-lg-end pt-1">
                                        <a title="checkout" href="{% url 'checkout' %}" class="btn button-green text-uppercase  red">
                                            <span>checkout</span>
                                            <i class="fa-solid fa-angles-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <h4 class="lead mb-5">Your bag is empty.</h4>
                    <a href="{% url 'products' %}" class="btn button-green">
                        <i class="fa-solid fa-angles-left"></i>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div>
        <a id="scrollUp" class="text-decoration-none" href="#top" title="Back to Top"><i class="fa-solid fa-angle-up"></i></a>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
        .done(function() {
            location.reload();
        });
    })
</script>
{% endblock %}