<div class="modal fade modal-lg" id="viewModal" tabindex="-1" data-bs-keyboard="false" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="modal-img-container w-75">
                            {% if product.image %}
                                <img class="image-fluid card-img-top card-img" src="{{ product.image.url }}" alt="{{ product.name }}">
                            {% else %}
                                <img class="card-img-top " src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="rating-container text-center">
                            <div class="text-center">
                                {% if product.rating %}
                                    <h6 class="list-unstyled text-black">Rating: ( {{ product.rating }} / 5 )</h6>
                                {% else %}
                                    <small class="text-muted">No Rating</small>
                                {% endif %}
                            </div>
                        </div>
                        <div class="name-container">
                            <div class="text-center">
                                <h4 class="green bold">
                                    {{ product.name }}
                                </h4>
                            </div>
                        </div>
                        <div class="price-container">
                            <div class="text-center">
                                <h4>
                                    <span class="green bold">£{{ product.price }}</span>
                                    <small><del class="red1">£{{ product.price|floatformat:2 }}</del></small>
                                </h4>
                            </div>
                        </div>
                        <div class="category-container">
                            <div class="text-center">
                                <h6>
                                    <small class="text-black">Category:</small> {{ product.category.friendly_name }}
                                </h6>
                            </div>
                        </div>
                        <div class="modal-description-container">
                            <div class="text-center">
                                <h6>
                                    {{ product.description }}
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>