/* -------------------------------------------------------------- IMPORTS----------------------*/
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Oswald:wght@500&family=Roboto+Mono&family=Ubuntu:wght@400;700&display=swap');

/* ------------------------------------------------RESETS */
*,
*::before,
*::after {
  box-sizing: border-box; 
}

*,
ul {
    padding: 0;
    margin: 0;
}

/* Root */

:root {
  --black: #000;
  --light-blue: #40a6da;
  --grey: #737171;
  --red: #e61a21;
  --light-red: #e74536;
  --white: #fff;
  --dark-blue: #051417;
  --blue: #1a5eb3;
  --yellow: #ffc800;
  --orange: #ffa200;
  --green: #80B500;
  --light-pink: #f7d9cd;
  --dark-pink: #e9bba8;
  --gradient: linear-gradient(90deg, #ffc800, #ffb800, #e61a21);
}
/* ---------------  /End Roots  -------------- */

/* ----------------------------------  Body ------------------------------------*/
html {
    height: 100%;
}

body {
    font-style: normal;
    font-size: 16px;
    font-family: "Ubuntu", 'Oswald', monospace, sans-serif;
    margin: 0 auto;
    background-color: var(--light-pink);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    margin-bottom: 2rem;
    flex: 1;
}

.bold {
    font-weight: bold;
}

/* Colors */

.glow-1 {
    animation: glow1 1s ease-in-out infinite alternate;
}

.glow-2 {
    animation: glow2 1s ease-in-out infinite alternate;
}

@keyframes glow1 {
    from {
      text-shadow: 0 0 10px #80B500, 0 0 20px #80B500, 0 0 30px #80B500, 0 0 40px #80B500, 0 0 50px #80B500, 0 0 60px #80B500, 0 0 70px #80B500;
    }
    
    to {
      text-shadow: 0 0 20px #8efe06, 0 0 30px #8efe06, 0 0 40px #8efe06, 0 0 50px #8efe06, 0 0 60px #8efe06, 0 0 70px #8efe06, 0 0 80px #8efe06;
    }
}

@keyframes glow2 {
    from {
      text-shadow: 0 0 10px #ffb700, 0 0 20px #ffb700, 0 0 30px #ffb700, 0 0 40px #ffb700, 0 0 50px #ffb700, 0 0 60px #ffb700, 0 0 70px #ffb700;
    }
    
    to {
      text-shadow: 0 0 20px #ffa200, 0 0 30px #ffa200, 0 0 40px #ffa200, 0 0 50px #ffa200, 0 0 60px #ffa200, 0 0 70px #ffa200, 0 0 80px #ffa200;
    }
}

.button-green {
    position: relative;
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    padding: 15px 40px;
    overflow: hidden;
    background-color: var(--green);
}

.button-green::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    z-index: -1;
    transition: left 0.3s ease;
}

.button-green:hover::before {
    left: 0;
}

.button-green:hover {
    background-color: var(--green);
    color: var(--green);
    border: 1px solid var(--green);
}

.green {
    color: var(--green);
}

.yellow1 {
    color: var(--yellow);
}

.yellow {
    background-color: var(--yellow);
}

.delivery-bg {
    background-color: var(--black);
}

.red {
    background-color: var(--red);
}

#timer {
    position: relative;
}

.sliding-text {
    position: relative;
    animation: slide 25s linear infinite;
    width: inherit;
}

@keyframes slide {
    0% {
      transform: translateX(70%);
    }
    90% {
      transform: translateX(-75%);
      animation-timing-function: ease-out;
    }
    100% {
      transform: translateX(-75%);
      animation-timing-function: ease-out;
      animation-delay: 1s;
    }
}

.bg-black {
    border-radius: 15px;
    overflow-x: hidden;
}

.countdown-container {
    margin-top: 0;
    padding: 15px 15px 0px;
    box-shadow: none;
    display: inline-block;

    .countdown {
        margin-right: 10px;
        margin-top: 10px;
        text-align: center;
        display: inline-block;

        h3 {
            font-size: 20px;
            margin-bottom: 5px;
            height: 35px;
            width: 35px;
            line-height: 35px;
            background-color: var(--green);
            border-radius: 100%;
            color: var(--white);
        }

        p {
            font-size: 15px;
            text-transform: uppercase;
        }
    }
}

.delivery-icon i {
    color: var(--yellow);
    z-index: 3;
    animation: growIcon 6s linear infinite;
}

.icon-1 i {
    position: absolute;
    top: 30%;
    left: 10px;
}

.icon-2 i {
    position: absolute;
    top: 30%;
    right: 10px;
}

@media (min-width: 992px) {
    @keyframes growIcon {
        0% {
            font-size: 25px;
        }
        15%, 35%, 50%, 75%, 95% {
            font-size: 55px;
        }
        25%, 45%, 65%, 85%, 100% {
            font-size: 35px;
        }
    }
  }

@media (max-width: 992px) {
    #search-bar {
        display: none;
    }

    .navbar-nav {
        display: block !important; 
    }
}

@media (max-width: 576px) {
    .delivery-icon i, .sliding-text {
        animation: none;
    }
}

.navbar-nav .nav-link.active,
.nav-link:hover,
.nav-link:focus,
.dropdown-item:hover {
    color: var(--green);
}

.search-form,
.search-form:focus {
    box-shadow: 0 2px 4px rgba(53, 150, 0, 0.4);
    border-color: var(--green);
}

.search-form .icon {
    color: var(--black);
}

/* Carousel */
#myCarousel {
    padding-top: .5rem;
    padding-bottom: 4rem;
}

.text-margin {
    margin: auto auto;
}

.slider-img {
    width: 500px;
    height: 500px;
}

.img-1 {
    margin-left: 4rem;
}

.img-2 {
    margin-right: 4rem;
}

.carousel-indicators [data-bs-target] {
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.carousel-icon {
    color: var(--black);
}

.carousel-dark .carousel-indicators [data-bs-target] {
    &.active {
        background-color: var(--green);
    }
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    border: 1px solid var(--green);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-weight: bolder;
    top: 50%;
    font-size: 30px;
    text-align: center;
    background-color: transparent;
    color: var(--green);
    opacity: 1;
}

.carousel-control-next {
    right: 40px;
    left: auto;
}

.carousel-control-prev {
    left: 40px;
    right: auto;
}

.carousel-control-prev,
.carousel-control-next {
    &:hover {
        background-color: var(--green);
        color: var(--white);
        border: 1px solid var(--white);
    }
}

.carousel-control-prev:active,
.carousel-control-next:active {
    color: var(--black);
}


.animated {
    opacity: 0;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-duration: 1.5s;
    animation-fill-mode: both;
}

.animation-1 {
    animation-name: fadeInUp;
    animation-delay: 1s;
    animation-duration: 1s;
}

.animation-2 {
    animation-name: fadeInUp;
    animation-delay: 2s; 
    animation-duration: 1s; 
    animation-timing-function: cubic-bezier(0.9, 0.6, 0.3, 0.1);
}

.animation-3 {
    animation-name: fadeInUp;
    animation-delay: 2s;
    animation-duration: 2s; 
    animation-timing-function: cubic-bezier(1.0, 0.7, 0.3, 0.2); /* Adjust these values as needed  for smoother animation*/
}

@keyframes fadeInUp {
    0% {
        -webkit-transform: translate3d(0, 450%, 0);
        opacity: 0;
        transform: translate3d(0, 450%, 0);
    }

    50% {
        -webkit-transform: translate3d(0, 4350%, 0);
        opacity: 0;
        transform: translate3d(0, 350%, 0);
    }

    75% {
        -webkit-transform: translate3d(0, 150%, 0);
        opacity: 0;
        transform: translate3d(0, 150%, 0);
    }

    100% {
        -webkit-transform: translateZ(0);
        opacity: 1;
        transform: translateZ(0);
    }
}

.slide-sub-title,
.slide-title {
    margin-bottom: 1rem;
}

.slide-title {
    font-family: 'Oswald', monospace, sans-serif;
    font-size: 75px;
    font-weight: 900;
    margin-top: 1rem;
    line-height: 1;
}

.slide-btn {
    margin-top: 2rem;
}


/* Footer */
.footer {
    text-align: center;
    font-size: 1rem;
    margin-top: 3.5rem;
    position: relative; 
}

.footer-container {
    min-height: 5vh; 
}

.footer-content {
    padding-top: 20px;
}

.yellow, .btn-social:hover, .footer-cont:hover {
    color: var(--green);
}

.footer-cont,
.web-name {
    font-weight: 700;
    font-size: 1.5rem;
}

/* Footer Links */
.btn-social {
    height: 2.85rem;
    width: 2.85rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.btn-social i {
    font-size: 25px;
}



/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 90%;
    }

    .logo-text strong {
        margin: auto auto;
    }
  }
  
  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
    .header-container {
        padding-top: 194px;
    }
    

}

@media (min-width: 320px) {
    .carousel-indicators [data-bs-target] {
        margin-top: 2rem;
    }

}

@media (max-width: 1028px) {
    /* Navbar */
    .list-inline-item:not(:last-child) {
        margin-right: 0;
    }

}


@media (max-width: 992px) {
    /* Carousel */
    .carousel-control-prev,
    .carousel-control-next {
      display: none !important;
    }

    .slider-img {
        width: 100%;
        height: 100%;
    }
    
    #myCarousel {
        margin-top: 9.5rem;
        padding-top: 40px;
    }
}

@media (max-width: 460px) {
    .animated {
      opacity: 1;
      -webkit-animation: none;
      animation: none; 
    }

    /* Navbar */
    .navbar-toggler {
        margin: 0 auto;
    }
  }