/* -------------------------------------------------------------- IMPORTS----------------------*/
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Oswald:wght@500&family=Roboto+Mono&family=Ubuntu:wght@400;700&display=swap');

/* ------------------------------------------------RESETS */
*,
*::before,
*::after {
  box-sizing: border-box; 
}

*,
ul {
    padding: 0;
    margin: 0;
}

/* Root */

:root {
  --black: #000;
  --light-blue: #40a6da;
  --grey: #737171;
  --red: #e61a21;
  --light-red: #e74536;
  --white: #fff;
  --dark-blue: #051417;
  --blue: #1a5eb3;
  --yellow: #ffc800;
  --green: #80B500;
  --light-pink: #f7d9cd;
  --dark-pink: #e9bba8;
  --gradient: linear-gradient(90deg, #800080, #e74536, #800080);
}
/* ---------------  /End Roots  -------------- */

/* ----------------------------------  Body ------------------------------------*/
html {
    height: 100%;
}

body {
    font-style: normal;
    font-size: 16px;
    font-family: "Ubuntu", 'Oswald', monospace, sans-serif;
    margin: 0 auto;
    background-color: var(--light-pink);
    min-height: 100vh;
}
