:root {
    --green: #80B500;
    --grey: #828181;
    --black: #111;
    --orange: #FFB800;
    --white: #fff;
    --red: #f80606;
    --yellow: #fff200;
}

/*  */
.prod-count {
    color: var(--green);
    text-decoration: none;
}

.prod-count:hover {
    text-decoration: underline;
    text-decoration-color: var(--black);
}

.yellow {
    background-color: var(--yellow);
}

.delivery-bg {
    background-color: var(--black);
}

.red {
    background-color: var(--red);
}

#timer {
    position: relative;
}

.sliding-text {
    position: relative;
    animation: slide 25s linear infinite;
    width: inherit;
}

@keyframes slide {
    0% {
      transform: translateX(70%);
    }
    90% {
      transform: translateX(-75%);
      animation-timing-function: ease-out;
    }
    100% {
      transform: translateX(-75%);
      animation-timing-function: ease-out;
      animation-delay: 1s;
    }
}

.bg-black {
    border-radius: 15px;
    overflow-x: hidden;
}

.countdown-container {
    margin-top: 0;
    padding: 15px 15px 0px;
    box-shadow: none;
    display: inline-block;

    .countdown {
        margin-right: 10px;
        margin-top: 10px;
        text-align: center;
        display: inline-block;

        h3 {
            font-size: 20px;
            margin-bottom: 5px;
            height: 35px;
            width: 35px;
            line-height: 35px;
            background-color: var(--green);
            border-radius: 100%;
            color: var(--white);
        }

        p {
            font-size: 15px;
            text-transform: uppercase;
        }
    }
}

.delivery-icon i {
    color: var(--yellow);
    z-index: 3;
    animation: growIcon 6s linear infinite;
}

.icon-1 i {
    position: absolute;
    top: 30%;
    left: 10px;
}

.icon-2 i {
    position: absolute;
    top: 30%;
    right: 10px;
}

@media (min-width: 992px) {
    @keyframes growIcon {
        0% {
            font-size: 25px;
        }
        15%, 35%, 50%, 75%, 95% {
            font-size: 55px;
        }
        25%, 45%, 65%, 85%, 100% {
            font-size: 35px;
        }
    }
  }

.product-container {
    margin-top: 4rem auto;
    gap: 3rem;
}

.card-g {
    width: 100%;
    height: 100%;
}

.card-img {
    width: 100%;
    height: 100%;
} 

.product-img {
    height: 200px;
    position: relative;
}


.product-badge {
    position: absolute;
    top: 4px;
    right: 4px;
}

.limited {
    background-color: var(--orange);
}

.new {
    background-color: var(--green);
}

.special {
    background-color: var(--yellow);
}

.super {
    background-color: var(--red);
}

.popular {
    background-color: darkblue;
}

.product-badge li {
    font-size: 25px;
    font-weight: 700;
    color: var(--white);
    padding: 1px 12px;
    text-transform: uppercase;
    border-radius: 15px 0px 15px 0px;
}

.card-g {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s; 
}

.card-g:hover {
    transform: translateZ(-25px);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4); 
    border: 1px solid var(--green);
}

.product-hover-action {
    position: absolute;
    bottom: 0;
    right: 50px;
    left: 50px;
    background-color: transparent;
    transition: transform .5s;
    transform: translateY(100%);
    text-align: center;
    visibility: hidden;
}

.card-g:hover .product-hover-action {
    transform: translateZ(0);
    visibility: visible;
}

.product-hover-action a {
    display: block;
    text-align: center;
}

.product-hover-action ul {
    padding: 0;
    margin: 0;
    display: flex;
}

.product-hover-action li {
    margin: auto auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--yellow);
}

.product-hover-action li a {
    display: block;
    color: var(--black);
    border-radius: 50%;
    font-size: 30px;
    background-color: var(--white);
}

.product-hover-action li a:hover {
    color: var(--white);
    background-color: var(--green);
}

.card-body {
    height: 200px;
}

.product-title a {
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    color: var(--black);
}

.product-title a:hover,
.ratings a:hover,
.share.list-unstyled li a:hover,
.green {
    color: var(--green)
}

.product-rating {
    margin-top: 1.5rem;
}

.ratings a {
    color: var(--orange);
}

.product-price {
    font-size: 30px; 
    font-family: 'Oswald', monospace, sans-serif;
    color: var(--green);
}

.red1 {
    color: var(--red);
}

.product-rating ul,
.product-title-area h2 {
    margin-bottom: 0;
}

/* Product details */

.header-container {
    padding-top: 60px;
}

.card-space .card-body {
    height: auto;
}

.image-container {
    max-width: 100%;
    max-height: 350px;
}

.image-container img {
    max-width: 100%;
    max-height: 350px;
}

.product-price-detail {
    font-size: 80px;
}

sup {
    font-size: 0;
}

.details-category {
    margin-bottom: 2rem;
}

.add-to-cart-section {
    margin-top: 1rem;
}

.ratings-section {
    position: relative;
    top: 2px;
    left: 39%;
}

.details-name-title {
    font-size: 28px;
}
.details {
    padding: 0 30px;
    margin: 6rem auto;
}

.small {
    font-size: 25px;
}

.share-icons-row {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-right: 50px;
}

.share.list-unstyled {
    display: flex;
    margin: 0 ;
    padding: 0;
    list-style: none;
}

.share.list-unstyled li {
    margin: 0 auto;
    color: var(--black);
}

.share.list-unstyled li a {
    color: var(--black);
}

.share.list-unstyled li:last-child {
    margin-right: 0;
}

.back-btn {
    margin-right: 5.5rem;
}

.small {
    margin: 0;
    font-size: 15px;
    color: var(--black);
}

.small a:hover {
    color: var(--green);
}

#scrollUp {
    background-color: #F7F5EB;
    color: var(--black);
    bottom: 70px;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    width: 40px;
    right: 3%;
    text-align: center;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: all 0.1s ease 0s;
    box-shadow: 0 2px 4px rgba(53, 150, 0, 0.4);
    position: fixed;
    z-index: 100;
}

a#scrollUp:hover {
   background-color: var(--green);
   color: var(--white);
}


#scrollUp i {
    line-height: 40px;
    transform: rotate(-45deg);
}



/* Media Queries */
@media (max-width: 991px) {
    #scrollUp {
        font-size: 16px;
        height: 30px;
        width: 30px;
        bottom: 50px;
    }

    #scrollUp i {
        line-height: 30px;
    }
}



@media (max-width: 992px) {
    .section-title {
        margin-top: 5rem;
        margin-bottom: 1.5rem;
    }

    .card-g:hover .product-hover-action {
        visibility: hidden;
    }

    .add-to-cart {
        margin-top: 1rem;
    }

    .details-card-body {
        margin-top: 5rem;
    }

    .product-price-detail {
        font-size: 30px;
    }
    
    .the-product {
        margin-top: 8rem;
    }

    .x-b {
        margin-top: 2rem;
    }

    .card-g:hover .product-hover-action {
        visibility: hidden;
    }

    .back-btn {
        margin-right: .5rem;
        margin-bottom: 2rem;
    }

    
}

@media (min-width: 330px) {
    .over-card {
        margin:2rem 0 2rem 6rem;
        padding: 30px;

    }
}
