:root {
    --green: #80B500;
    --grey: #828181;
    --black: #111;
    --orange: #FFB800;
    --white: #fff;
    --red: #f80606;
    --yellow: #fff200;
}

/*  */
.section-title {
    font-family: 'Oswald', monospace, sans-serif;
    font-size: 70px;
    margin-bottom: 2.5rem;
    margin-top: 11rem;
}

.product-container {
    margin-top: 4rem auto;
    gap: 3rem;
}

.card-g {
    width: 100%;
    height: 100%;
}

.card-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
} 

.product-img {
    height: 200px;
    position: relative;
}

.product-badge {
    position: absolute;
    top: 4px;
    right: 4px;
}

.limited {
    background-color: var(--orange);
}

.new {
    background-color: var(--green);
}

.special {
    background-color: var(--yellow);
}

.super {
    background-color: var(--red);
}

.popular {
    background-color: darkblue;
}

.product-badge li {
    font-size: 25px;
    font-weight: 700;
    color: var(--white);
    padding: 1px 12px;
    text-transform: uppercase;
    border-radius: 15px 0px 15px 0px;
}

.card-g {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s; 
}

.card-g:hover {
    transform: translateZ(-25px);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4); 
    border: 1px solid var(--green);
}

.product-hover-action {
    position: absolute;
    bottom: 0;
    right: 50px;
    left: 50px;
    background-color: transparent;
    transition: transform .5s;
    transform: translateY(100%);
    text-align: center;
    visibility: hidden;
}

.card-g:hover .product-hover-action {
    transform: translateZ(0);
    visibility: visible;
}

.product-hover-action a {
    display: block;
    text-align: center;
}

.product-hover-action ul {
    padding: 0;
    margin: 0;
    display: flex;
}

.product-hover-action li {
    margin: auto auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--yellow);
}

.product-hover-action li a {
    display: block;
    color: var(--black);
    border-radius: 50%;
    font-size: 30px;
    background-color: var(--white);
}

.product-hover-action li a:hover {
    color: var(--white);
    background-color: var(--green);
}

.card-body {
    height: 200px;
}

.product-title a {
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    color: var(--black);
}

.product-title a:hover,
.ratings a:hover,
.share.list-unstyled li a:hover,
.green {
    color: var(--green)
}

.product-rating {
    margin-top: 1.5rem;
}

.ratings a {
    color: var(--orange);
}

.product-price {
    font-size: 30px; 
    font-family: 'Oswald', monospace, sans-serif;
    color: var(--green);
}

.red1 {
    color: var(--red);
}

.product-rating ul,
.product-title-area h2 {
    margin-bottom: 0;
}





@media (max-width: 992px) {
    .section-title {
        margin-top: 7.5rem;
    }

    .card-g:hover .product-hover-action {
        visibility: hidden;
    }

    
}
