{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}
<h2 class="logo-font mb-4 text-center">{% trans "Sign Up" %}</h2>
<hr>

<p>{% blocktrans %}Already have an account? Then please <a class="log-reg-a-link" href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  <div id="password-help" class="form-text my-3 py-3">
    <ul class="ms-3">
      <li>Your password can’t be too similar to your other personal information.</li>
      <li>Your password must contain at least 8 characters.</li>
      <li>Your password can’t be a commonly used password.</li>
      <li>Your password can’t be entirely numeric.</li>
      <li>Make sure your passwords match.</li>
    </ul>
  </div>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="btn button-green back-btn mt-1" href="{% url 'account_login' %}"><i class="fa-solid fa-angles-left"></i> Back to Login</a>
  <button class="btn button-green mt-1" type="submit">{% trans "Sign Up" %} <i class="fa-solid fa-angles-right"></i></button>
</form>

{% endblock %}