
.header-container {
    padding-top: 110px;
}

.title-row {
    margin-bottom: 2rem;
}



/* -------------------------------- Media Queries */



@media (min-width: 1200px) {
    .image-size {
        max-width: 250%;
        height: 250px;
    }
}

@media (max-width: 992px) {
    .bag-title {
        font-size: 40px;
    }
}

@media (min-width: 993px) {
    .bag-title {
        margin-top: 9.5rem;
        font-size: 50px;
    }

    .bag-table th {
        padding-left: 20px;
    }
    
    .bag-table td {
        padding: 20px 25px;
        vertical-align: middle;
    }

    .cart-price {
        color: var(--green);
    }
    
    .cart-price,
    .cart-product-subtotal {
        font-size: 26px;
        font-weight: 600;
    }
    
    .total-table td {
        text-align: end;
        padding-right: 20px;
    }
    
    .total-table th {
        padding-left: 10px;
    }

    .image-size {
        max-width: 150%;
        height: 200px;
    }
    
}

@media (max-width: 768px) {
    .bag-title {
        font-size: 28px;
    }

    .image-size {
        max-width: 100%;
        height: 150px;
    }
}

@media (max-width: 600px) {
    .check-margin-sm {
        margin-bottom: 1rem;
    }

}

@media (max-width: 528px) {
    .bag-title {
        font-size: 25px;
    }
}