/* -------------------------------- Media Queries */


@media (min-width: 993px) {
    .bag-title {
        margin-top: 6.5rem;
        font-size: 50px;
    }

    .cart-product-image {
        max-width: 350px; 
        max-height: 250px; 
        margin: 0 auto; 
        overflow: hidden; 
    }

    .responsive-image {
        max-width: 100%; 
        max-height: 100%;
        height: auto; 
        display: block; 
    }
    
    tbody .cart-product-remove {
        padding: 20px 25px;
        vertical-align: middle;
    }
    
    .cart-remove button {
        padding: 5px 10px;
        font-weight: 600;
        color: var(--black);
        font-size: 28px;
    }

    .cart-remove button:hover {
        color: var(--red);
    }

    .bag-table th {
        padding-left: 20px;
    }
    
    .bag-table td {
        padding: 20px 25px;
        vertical-align: middle;
    }
    
    .cart-price {
        color: var(--green);
    }
    
    .cart-price,
    .cart-product-subtotal {
        font-size: 26px;
        font-weight: 600;
    }
    
    .bag-prod-name a {
        text-decoration: none;
        color: var(--black);
        transition: all 0.2s ease-in-out;
    }
    
    .bag-prod-name a:hover {
        color: var(--green);
    }
    
    .shoping-cart-container {
        max-width: 550px;
        margin: lef;
    }
    
    .total-table td {
        text-align: end;
        padding-right: 20px;
    }
    
    .total-table th {
        padding-left: 10px;
    }
    
    .div-back-btn a {
        width: 180px;
    }
    
    .btn-wrapper a {
        margin-top: 4px;
        background-color: var(--red);
    }
    
}

@media (max: 992px) {
    
    .main-logo-link {
    width: fit-content;
    }

    .shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
    }

    .btn-black {
    background: black;
    color: white;
    }

    .btn-outline-black {
    background: white;
    color: black !important; 
    border: 1px solid black;
    }

    .button-green span::before {
        display: none;
    }

    .button-green span::before {
        display: none;
    }

    .button-green span {
        display: none;
    }

    .button-green {
        display: none;
    }

    .button-green::before {
        display: none;
    }

    .btn-outline-black:hover,
    .btn-outline-black:active,
    .btn-outline-black:focus {
    background: black;
    color: white !important;
    }

    .shop-now-button:hover,
    .shop-now-button:active,
    .shop-now-button:focus,
    .btn-black:hover,
    .btn-black:active,
    .btn-black:focus {
    background: #222;
    color: white;
    }

    .text-black {
    color: #000 !important;
    }

    .border-black {
    border: 1px solid black !important;
    }

    .bg-black {
    background: #000 !important;
    }

    .overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
    }

    a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
    }

    .btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    }

    .btt-link {
    cursor: pointer;
    }
}

@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
  
  @media (min-width: 992px) {
      .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1030;
      }
  
      .header-container {
          padding-top: 164px;
      }
  }
  
  
  @media (max-width: 991px) {
      .header-container {
          padding-top: 116px;
      }
  
      body {
          height: calc(100vh - 116px);
      }
  }