{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="welcome to Mini-M, a mini market where you can find a litle od everything">
        <meta name="keywords" content="sales, purchase, cakes, chocolates, drinks">
        <meta name="author" content="Esmael Pinho">
        <meta name="theme-color" content="#317EFB">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
      <!-- Fontawesome -->
      <script src="https://kit.fontawesome.com/524826ac04.js" crossorigin="anonymous"></script>
      <!-- JQuery -->
      <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
      <!--  -->
      <!-- Bootstrap -->
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
      <!--  -->
    {% endblock %}

    {% block extra_js %}
    
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="/media/slider-icon.png">
    <title>Mini-M {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <header class="container-fluid fixed-top g-0">


      <nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Mini M navbar">
        <div class="container-fluid nav-container backg">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#miniMNavbar" aria-controls="miniMNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse d-lg-flex" id="miniMNavbar">
            <a class="navbar-brand col-lg-3 me-0" href="{% url 'home' %}">
              <div class="row justify-content-lg-center pe-none">
                <div class="col-7 pe-none">
                  <img src="/media/mini-m-logo.png" alt="Mini Tic Logo" width="50" height="44" class="d-inline-block align-text-right pe-auto mt-2">
                  <span class="text-center logo-text pe-auto my-0 ">Mini<strong class=" green glow-1"> M</strong></span>
                </div>
              </div>
            </a>
            <div class="container-fluid collapse" id="search-bar">
              <div class="row justify-content-center">
                  <div class="col-12  my-auto py-0 ">
                      <form method="GET" action="">
                          <div class="input-group w-100">
                              <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site" >
                              <div class="input-group-append">
                                  <button class="form-control btn btn-black border border-black rounded-0 search-form" type="submit">
                                      <span class="icon">
                                          <i class="fas fa-search"></i>
                                      </span>
                                  </button>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
            </div>
            {% include 'includes/main-nav.html' %}
          </div>

          <div class="d-lg-flex col-sm-8 col-lg-4 nav-icons-small justify-content-start justify-content-lg-end pe-xl-2">
            {% include 'includes/mobile-top-nav.html' %}
            <ul class="list-inline list-unstyled text-center text-lg-right my-0 nav-icons d-none d-lg-block ">
                <li class="list-inline-item dropdown ms-3a">
                        <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#search-bar" aria-controls="search-bar" aria-expanded="false" aria-label="Search">
                            <div class="text-center icon">
                                <div><i class="fas fa-search fa-lg"></i></div>
                                <p class="my-0">Search</p>
                            </div>
                        </a>
                </li>
                <li class="list-inline-item dropdown ms-3">
                    <a class="nav-link" href="#" id="user-options" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="text-center icon">
                            <div><i class="fas fa-user fa-lg"></i></div>
                            <p class="my-0">My Account</p>
                        </div>
                    </a>
                    <ul class="dropdown-menu border-0 " aria-labelledby="user-options">
                        {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                            <a href="" class="dropdown-item ps-0">Product Management</a>
                        {% endif %}
                        <a href="" class="dropdown-item ps-2">My Profile</a>
                        <a href="{% url 'account_logout' %}" class="dropdown-item ps-2">Logout</a>
                        {% else %}
                        <a href="{% url 'account_signup' %}" class="dropdown-item ps-2">Register <i class="fa-solid fa-user-plus"></i></a>
                        <a href="{% url 'account_login' %}" class="dropdown-item ps-2">Login</a>
                        {% endif %}
                    </ul>
                </li>
                <li class="list-inline-item ms-3">
                    <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="">
                        <div class="text-center icon">
                            <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                            <p class="my-0">
                                {% if grand_total %}
                                ${{ grand_total|floatformat:2 }}
                                {% else %}
                                £0.00
                                {% endif %}
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
          </div>
        </div>
      </nav>
        <div id="delivery-banner" class="row text-center justify-content-center">
          <div id="slider-container" class="col-10 bg-black text-white">
            <div id="timer">
              <div class="delivery-icon icon-1 glow-2"><i class="fa-solid fa-triangle-exclamation"></i></div>
              <div class="row justify-content-center sliding-text">
                <div class="col-6 mt-4 d-none d-lg-block">
                  <h2 class="delivery-font my-1 text-end"> <span class="green">Free Delivery</span> <span>for all orders</span> in: </h2>
                </div>
                <div class="col d-lg-none">
                  <h4 class="logo-font my-1"><span class="green">Free delivery</span> on orders over <span class="yellow1">£{{ free_shipping_threshold }}</span> !</h4>    
                </div>
                <div class="col-6 d-none d-lg-block text-start">
                  <div class="countdown-container">
                    <div class="countdown">
                      <h3 id="days" class="bold"></h3>
                      <p>days</p>
                    </div>
                    <div class="countdown">
                      <h3 id="hours" class="bold"></h3>
                      <p>hrs</p>
                    </div>
                    <div class="countdown">
                      <h3 id="minutes" class="bold"></h3>
                      <p>mins</p>
                    </div>
                    <div class="countdown">
                      <h3 id="seconds" class="bold"></h3>
                      <p>secs</p>
                    </div>
                  </div> 
                </div>
              </div> 
              <div class="delivery-icon icon-2 glow-2"><i class="fa-solid fa-triangle-exclamation"></i></div>
            </div>        
          </div>            
        </div>
    </header>

    {% if messages %}
        <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    
    {% block postloadjs %}
      <script type="text/javascript" src="{% static 'js/base.js'%}"></script>
    {% endblock %}

    
  </body>
</html>