{% extends "base.html" %}
{% load static %}

{% block extra_title %}
    | Products
{% endblock %}

{% block corecss %}
{{ block.super }}
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{% block delivery_banner %}
<div id="delivery-banner" class="row text-center justify-content-center">
    <div id="slider-container" class="col-10 bg-black text-white">
      <div id="timer">
        <div class="delivery-icon icon-1 glow-2"><i class="fa-solid fa-triangle-exclamation"></i></div>
        <div class="row justify-content-center sliding-text">
          <div class="col-6 mt-4 d-none d-lg-block">
            <h2 class="delivery-font my-1 text-end"> <span class="green">Free Delivery</span> <span>for all orders</span> in: </h2>
          </div>
          <div class="col d-lg-none">
            <h4 class="logo-font my-1"><span class="green">Free delivery</span> on orders over <span class="yellow1">£{{ free_delivery_threshold }}</span> !</h4>    
          </div>
          <div class="col-6 d-none d-lg-block text-start">
            <div class="countdown-container">
              <div class="countdown">
                <h3 id="days" class="bold"></h3>
                <p>days</p>
              </div>
              <div class="countdown">
                <h3 id="hours" class="bold"></h3>
                <p>hrs</p>
              </div>
              <div class="countdown">
                <h3 id="minutes" class="bold"></h3>
                <p>mins</p>
              </div>
              <div class="countdown">
                <h3 id="seconds" class="bold"></h3>
                <p>secs</p>
              </div>
            </div> 
          </div>
        </div> 
        <div class="delivery-icon icon-2 glow-2"><i class="fa-solid fa-triangle-exclamation"></i></div>
      </div>        
    </div>            
  </div>
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <div class="section-title-area text-center">
                    {% if current_categories|length > 1 or not current_categories %}
                        <h1 class="section-title">Our Products</h1>
                    {% else %}
                        {% for c in current_categories %}
                            <h1 class="section-title ">
                                {{ c.friendly_name }} 
                                {% if c.name == 'fruits_and_vegetables' %}
                                    <i class="fa-solid fa-carrot"></i>
                                {% elif c.name == 'pizzas' %}
                                    <i class="fa-solid fa-pizza-slice"></i>
                                {% elif c.name == 'cakes' %}
                                    <i class="fa-solid fa-birthday-cake"></i>
                                {% elif c.name == 'bread' %}
                                    <i class="fa-solid fa-bread-slice"></i>
                                {% elif c.name == 'chocolates' %}
                                    <i class="fa-solid fa-cookie-bite"></i>
                                {% elif c.name == 'drinks' %}
                                    <i class="fa-solid fa-martini-glass-citrus"></i>
                                {% elif c.name == 'handmade' %}
                                    <i class="fa-solid fa-hand-holding-heart"></i>
                                {% endif %}
                            </h1>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2">
                    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="sort-select-wrapper w-50">
                            <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                                <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                                <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                                <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-muted mt-3 text-center text-md-left">
                            {% if search_term or current_categories or current_sorting != 'None_None' %}
                                <span><a class="prod-count" href="{% url 'products' %}">Products Home</a> | </span>
                            {% endif %}
                            {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                        </p>
                    </div>
                </div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card card-g product-item-hover">
                                <div class="product-img">
                                    {% if product.image %}
                                        <a href="{% url 'product_detail' product.id %}">
                                            <img class="card-img-top card-img" src="{{ product.image.url }}" alt="{{ product.name }}">
                                        </a>
                                        {% else %}
                                        <a href="{% url 'product_detail' product.id %}">
                                            <img class="card-img-top card-img" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                        </a>
                                    {% endif %}
                                    <div class="product-badge">
                                        <ul class="badge-c">
                                            {% if forloop.counter|divisibleby:4 %}
                                                {% with 'super deal' as badge %}
                                                    <li class="badge {{ badge }}">{{ badge|title }}</li>
                                                {% endwith %}
                                            {% elif forloop.counter|divisibleby:3 %}
                                                {% with 'special deal' as badge %}
                                                    <li class="badge {{ badge }}">{{ badge|title }}</li>
                                                {% endwith %}
                                            {% elif forloop.counter|divisibleby:2 %}
                                                {% with 'limited' as badge %}
                                                    <li class="badge {{ badge }}">{{ badge|title }}</li>
                                                {% endwith %}
                                            {% elif forloop.counter == 1 %}
                                                {% with 'new' as badge %}
                                                    <li class="badge {{ badge }}">{{ badge|title }}</li>
                                                {% endwith %}
                                            {% else %}
                                                {% with 'popular' as badge %}
                                                    <li class="badge {{ badge }}">{{ badge|title }}</li>
                                                {% endwith %}
                                            {% endif %}
                                        </ul>
                                    </div>
                                    <div class="product-hover-action ">
                                        <ul class="list-unstyled ">
                                            <li class="text-center">
                                                <a href="#" title="Quick View" data-bs-toggle="modal" data-bs-target="#viewModal" 
                                                data-product-id="{{ product.id }}" data-product-name="{{ product.name }}" 
                                                {% if product.image %}
                                                    data-product-image="{{ product.image.url }}"
                                                {% else %}
                                                    data-product-image="{{ MEDIA_URL }}noimage.png"
                                                {% endif %}
                                                data-product-rating="Rating:  &#9733;{{ product.rating }} / 5 " 
                                                data-product-price="{{ product.price }}" data-product-category="Category: {{ product.category.friendly_name }}" 
                                                data-product-description="{{ product.description }}" 
                                                data-product-discounted-price="{{ product.price|add:product.price|floatformat:2 }}"
                                                data-product-id="{{ product.id }}"
                                                data-product-rating="{{ product.rating }}">
                                                    <i class="far fa-eye"></i>
                                                </a>
                                            </li>
                                            <li class="text-center">
                                                <form id="add-to-cart-form_{{ product.id }}" class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                                                    {% csrf_token %}
                                                    <input type="number" name="quantity" value="1" style="display: none;">
                                                    <a href="#" title="Add to Bag" class="add-to-cart-link" data-product-id="{{ product.id }}" >
                                                        <i class="fas fa-shopping-cart"></i>
                                                    </a>
                                                    <input type="hidden" name="redirect_url" value="{{ request.get_full_path }}">
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row justify-content-center">
                                        <div class="col-12">
                                            <div class="product-ratting text-center">
                                                <div class="col-12 d-flex justify-content-center">
                                                    <ul class="list-unstyled d-flex ratings">
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                                                        <li><a href="#"><i class="far fa-star"></i></a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-12">
                                                    {% if product.rating %}
                                                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                                    {% else %}
                                                        <small class="text-muted">No Rating</small>
                                                    {% endif %}
                                                    {% if product.category %}
                                                        <p class="small">
                                                            <small class="small mt-1 mb-0">
                                                                <a href="{% url 'products' %}?category={{ product.category.name }}">
                                                                    {{ product.category.friendly_name }}
                                                                </a>
                                                            </small>
                                                        </p>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="product-title-area text-center">
                                                <h2 class="product-title d-flex"><a href="{% url 'product_detail' product.id %}">{{ product.name|truncatechars:25 }}</a></h2>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="product-price text-center">
                                                <span>£{{ product.price }}</span>
                                                <del class="red1">£{{ product.price|add:product.price|floatformat:2 }}</del>
                                            </div>                                                                
                                        </div>
                                    </div>
                                    {% if request.user.is_superuser %}
                                        <span>
                                            <a class="text-info" href="{% url 'edit_product' product.id %}">Edit</a> | 
                                            <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                        </span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div>
        <a id="scrollUp" class="text-decoration-none" href="#top" title="Back to Top"><i class="fa-solid fa-angle-up"></i></a>
    </div>
    {% include 'products/includes/quick_view_modal.html' %}
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script type="text/javascript" src="{% static 'js/products.js'%}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // Handle click event for add to cart link
            $('.add-to-cart-link').click(function (e) {
                e.preventDefault(); // Prevent the default link behavior
                
                var productId = $(this).data('product-id');
                var form = $(`#add-to-cart-form_${productId}`);
    
                // Submit the form
                form.submit();
    
                // Open the modal
                $('#addToCartModal').modal('show');
            });


            var viewModal = new bootstrap.Modal(document.getElementById('viewModal'));
    
            viewModal._element.addEventListener('show.bs.modal', function (event) {
                var triggerButton = event.relatedTarget;
                var productId = triggerButton.getAttribute('data-product-id');
                var modal = viewModal._element;
                modal.querySelector('.modal-img-container img').src = $(triggerButton).data('product-image');
                modal.querySelector('.green').textContent = $(triggerButton).data('product-name');
                modal.querySelector('.price-container .green').textContent = '£' + $(triggerButton).data('product-price');
                modal.querySelector('.category-container .text-black').textContent = $(triggerButton).data('product-category');
                modal.querySelector('.modal-description-container h6').textContent = $(triggerButton).data('product-description');
                modal.querySelector('.price-container .red1').textContent = '£' + $(triggerButton).data('product-discounted-price');
                modal.querySelector('.rating-container').textContent =  $(triggerButton).data('product-rating');
            });
        });
    </script>
{% endblock %}